/* VARIABLES */

// Colors
$deepBlue: #032f3e;
$grayBlue: #34495e;
$offWhite: #f8f9fb;
$darkGray: #2d2d2d;

// Font sizes
$bannerHeading: 54px;
$bannerSubHeading: 24px;
$banner-li: 20px;
$sectionHeading: 30px;
